
APICall/.vs/APICall/v16/.suo
APICall/.vs/APICall/v16/TestStore/0/000.testlog
APICall/.vs/APICall/v16/TestStore/0/testlog.manifest
APICall/bin/Debug/netcoreapp3.1/APICall.deps.json
APICall/bin/Debug/netcoreapp3.1/APICall.dll
APICall/bin/Debug/netcoreapp3.1/APICall.exe
APICall/bin/Debug/netcoreapp3.1/APICall.pdb
APICall/bin/Debug/netcoreapp3.1/APICall.runtimeconfig.dev.json
APICall/bin/Debug/netcoreapp3.1/APICall.runtimeconfig.json
APICall/bin/Debug/netcoreapp3.1/appsettings.Development.json
APICall/bin/Debug/netcoreapp3.1/appsettings.json
APICall/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
APICall/bin/Debug/netcoreapp3.1/EntityFramework.dll
APICall/bin/Debug/netcoreapp3.1/EntityFramework.SqlServer.dll
APICall/bin/Debug/netcoreapp3.1/EntityRepo.dll
APICall/bin/Debug/netcoreapp3.1/EntityRepo.pdb
APICall/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/FromHeaderAttribute.dll
APICall/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/LocalStorage.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
APICall/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
APICall/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
APICall/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
APICall/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
APICall/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
APICall/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
APICall/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
APICall/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
APICall/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
APICall/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
APICall/bin/Debug/netcoreapp3.1/Swagger.Net.dll
APICall/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
APICall/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
APICall/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
APICall/bin/Debug/netcoreapp3.1/System.CodeDom.dll
APICall/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
APICall/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
APICall/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
APICall/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
APICall/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
APICall/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
APICall/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
APICall/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
APICall/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
APICall/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
APICall/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
APICall/bin/Debug/netcoreapp3.1/System.Net.Http.Formatting.dll
APICall/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
APICall/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
APICall/bin/Debug/netcoreapp3.1/System.Web.Http.dll
APICall/bin/Debug/netcoreapp3.1/System.Web.Http.WebHost.dll
APICall/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
APICall/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
APICall/obj/Debug/netcoreapp3.1/APICall.assets.cache
APICall/obj/Debug/netcoreapp3.1/APICall.csprojAssemblyReference.cache
APINUnitTest/obj/Debug/netcoreapp3.1/APINUnitTest.assets.cache
APINUnitTest/obj/Debug/netcoreapp3.1/APINUnitTest.csprojAssemblyReference.cache
EntityRepo/obj/Debug/netcoreapp3.1/EntityRepo.assets.cache
EntityRepo/obj/Debug/netcoreapp3.1/EntityRepo.csprojAssemblyReference.cache
MiddleWearUnitTest/obj/Debug/netcoreapp3.1/MiddleWearUnitTest.assets.cache
MiddleWearUnitTest/obj/Debug/netcoreapp3.1/MiddleWearUnitTest.csprojAssemblyReference.cache
ReportMechanics/obj/Debug/netcoreapp3.1/ReportMechanics.assets.cache
ReportMechanics/obj/Debug/netcoreapp3.1/ReportMechanics.csprojAssemblyReference.cache
SeleniumTests/obj/Debug/netcoreapp3.1/SeleniumTests.assets.cache
SeleniumTests/obj/Debug/netcoreapp3.1/SeleniumTests.csprojAssemblyReference.cache
